{{ define "content" }}
    <script>
        console.log('{{.user.Uid}} 를 조회 했습니다.')
    </script>
    <h3> UID </h3>
    <p>{{.user.Uid}}</p>
    <h3> NAME </h3>
    <p>{{.user.Name}}</p>
    <h3> AGE </h3>
    <p>{{.user.Age}}</p>
{{ end }}
