<!--header.html-->

<!doctype html>
<html>
    <head>
        <!--Use the `title` variable to set the title of the page-->
        <title>{{ .title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!--Use bootstrap to make the application look decent-->
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">홈으로 이동</a></li>
                    <li><a href="/user">회원 정보 조회</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h3> UID </h3>
            <p>{{.user.Uid}}</p>
            <h3> NAME </h3>
            <p>{{.user.Name}}</p>
            <h3> AGE </h3>
            <p>{{.user.Age}}</p>
        </main>
        <footer>
        </footer>
    </body>
</html>

