<html>
  <head>
    {{ template "head" . }}
  </head>
  <body class="container">
    <header>
  		{{ template "menu" . }}
    </header>
    <main>
    	{{ template "content" . }}
    </main>
    <footer> 
    	{{ template "footer" . }}
    </footer>
  </body>
</html>
